:root {
  --black__color: #000000;
  --poppy__color: #F8C10F;
  --cultured__color: #F4F4F4;
  --eerie__color: #202020;
  --quicksand__font: 'Quicksand', sans-serif;;
  --raleway__font: 'Raleway', sans-serif;; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--quicksand__font); }

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--eerie__color);
  font-size: 2rem; }
  @media screen and (min-width: 992px) {
    header {
      flex-direction: row;
      align-items: flex-end;
      font-size: 1rem; } }
  header a {
    text-decoration: none;
    color: var(--cultured__color);
    text-transform: uppercase;
    font-weight: 500; }
  header nav {
    width: 100%;
    padding: 1rem; }
    header nav ul#nav__main {
      list-style: none;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto; }
      @media screen and (min-width: 992px) {
        header nav ul#nav__main {
          max-width: 800px;
          flex-direction: row; }
          header nav ul#nav__main li {
            margin: auto; } }
  header ul.social {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    list-style: none; }
    @media screen and (min-width: 992px) {
      header ul.social {
        flex-direction: row;
        position: relative; } }
    header ul.social li {
      margin: 1rem; }
  header .logo {
    margin: 1rem; }
    @media screen and (orientation: portrait) {
      header .logo {
        width: 50vw; } }
    @media screen and (orientation: landscape) {
      header .logo {
        height: 40vh; } }
    @media screen and (min-width: 992px) {
      header .logo {
        height: 8rem; } }

main h1 {
  font-family: var(--raleway__font);
  font-weight: 700;
  text-transform: uppercase; }
