:root {
  --black__color: #000000;
  --poppy__color: #F8C10F;
  --cultured__color: #F4F4F4;
  --eerie__color: #202020;
  --quicksand__font: 'Quicksand', sans-serif;;
  --raleway__font: 'Raleway', sans-serif;; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--quicksand__font); }

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

header {
  background-color: var(--eerie__color); }
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem; }
    @media screen and (min-width: 992px) {
      header .container {
        flex-direction: row;
        align-items: flex-end;
        font-size: 1rem; } }
    header .container a {
      text-decoration: none;
      color: var(--cultured__color);
      text-transform: uppercase;
      font-weight: 500; }
      @media screen and (min-width: 992px) {
        header .container a {
          text-transform: none; } }
    header .container nav {
      width: 100%;
      padding: 1rem; }
      header .container nav ul#nav__main {
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        @media screen and (min-width: 992px) {
          header .container nav ul#nav__main {
            max-width: 800px;
            flex-direction: row; }
            header .container nav ul#nav__main li {
              margin: 0 1rem; } }
    header .container div#header__info {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      header .container div#header__info div#header__info-box {
        text-align: left;
        margin: 1rem; }
        header .container div#header__info div#header__info-box b {
          color: var(--poppy__color); }
        header .container div#header__info div#header__info-box p {
          color: var(--cultured__color); }
        @media screen and (min-width: 992px) {
          header .container div#header__info div#header__info-box {
            text-align: right; } }
      header .container div#header__info ul.social {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        top: 0;
        right: 0;
        list-style: none; }
        @media screen and (min-width: 992px) {
          header .container div#header__info ul.social {
            flex-direction: row;
            position: relative; } }
        header .container div#header__info ul.social li {
          margin: 1rem; }
          header .container div#header__info ul.social li span {
            display: none;
            padding-left: .5rem; }
            @media screen and (min-width: 992px) {
              header .container div#header__info ul.social li span {
                display: inline; } }
    header .container .logo {
      margin: 1rem; }
      @media screen and (orientation: portrait) {
        header .container .logo {
          width: 50vw; } }
      @media screen and (orientation: landscape) {
        header .container .logo {
          height: 40vh; } }
      @media screen and (min-width: 992px) {
        header .container .logo {
          height: 8rem; } }

main h1 {
  font-family: var(--raleway__font);
  font-weight: 700;
  text-transform: uppercase; }

footer {
  background-color: var(--eerie__color); }
  footer div.container {
    display: flex;
    flex-direction: column; }
    footer div.container img#data_fiscal {
      height: 4rem;
      margin: 1rem; }
    @media screen and (min-width: 992px) {
      footer div.container {
        flex-direction: row;
        justify-content: space-between; } }
