:root {
  --black__color: #000000;
  --poppy__color: #F8C10F;
  --cultured__color: #F4F4F4;
  --eerie__color: #202020;
  --quicksand__font: 'Quicksand', sans-serif;;
  --raleway__font: 'Raleway', sans-serif;; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--quicksand__font); }

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

header {
  background-color: var(--eerie__color);
  color: var(--cultured__color); }
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem; }
    @media screen and (min-width: 992px) {
      header .container {
        flex-direction: row;
        align-items: flex-end;
        font-size: 1rem; } }
    header .container a {
      text-decoration: none;
      color: var(--cultured__color);
      text-transform: uppercase; }
      @media screen and (min-width: 992px) {
        header .container a {
          text-transform: none; } }
    header .container nav {
      width: 100%;
      padding: 0 1rem 1rem 1rem; }
      @media screen and (min-width: 992px) {
        header .container nav a#nav__icon {
          display: none; } }
      header .container nav a#nav__icon i#nav__icon-bars {
        display: block; }
      header .container nav a#nav__icon i#nav__icon-xmark {
        display: none; }
      header .container nav ul#nav__main {
        transition: 1s;
        list-style: none;
        text-align: center;
        display: none;
        flex-direction: column;
        justify-content: center; }
        @media screen and (min-width: 992px) {
          header .container nav ul#nav__main {
            display: flex;
            max-width: 800px;
            flex-direction: row; }
            header .container nav ul#nav__main li {
              margin: 0 1rem; } }
    header .container div#header__info {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      header .container div#header__info div#header__info-box {
        text-align: left;
        margin: 1rem; }
        header .container div#header__info div#header__info-box b {
          color: var(--poppy__color); }
        header .container div#header__info div#header__info-box p {
          color: var(--cultured__color); }
        @media screen and (min-width: 992px) {
          header .container div#header__info div#header__info-box {
            text-align: right; } }
      header .container div#header__info ul.social {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        position: absolute;
        top: 0;
        right: 0;
        list-style: none; }
        @media screen and (min-width: 992px) {
          header .container div#header__info ul.social {
            flex-direction: row;
            position: relative; } }
        header .container div#header__info ul.social li {
          margin: 1rem;
          font-size: 2rem; }
          @media screen and (min-width: 992px) {
            header .container div#header__info ul.social li {
              font-size: 1rem; } }
          header .container div#header__info ul.social li span {
            display: none;
            padding-left: .5rem; }
            @media screen and (min-width: 992px) {
              header .container div#header__info ul.social li span {
                display: inline; } }
    header .container .logo {
      margin: 1rem 1rem 0 1rem; }
      @media screen and (orientation: portrait) {
        header .container .logo {
          width: 50vw; } }
      @media screen and (orientation: landscape) {
        header .container .logo {
          height: 40vh; } }
      @media screen and (min-width: 992px) {
        header .container .logo {
          margin: 1rem;
          height: 8rem; } }

main {
  min-height: 75vh; }
  main h1 {
    font-family: var(--raleway__font);
    font-weight: 700;
    text-transform: uppercase; }

section#remarks {
  background-color: var(--eerie__color);
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  @media screen and (min-width: 992px) {
    section#remarks {
      flex-direction: row;
      flex-wrap: nowrap; } }
  section#remarks div.remark {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 33%;
    align-items: center;
    text-align: center;
    margin: 3rem 1rem; }
    section#remarks div.remark div.badge {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: var(--poppy__color);
      font-size: 2rem; }
    section#remarks div.remark h2 {
      margin-top: .5rem;
      font-family: var(--raleway__font);
      color: var(--cultured__color); }
    section#remarks div.remark p {
      color: var(--poppy__color);
      margin-bottom: .5rem; }

section#customers {
  padding-top: 1rem;
  background-color: var(--poppy__color); }
  section#customers h2 {
    font-family: var(--raleway__font);
    color: var(--eerie__color);
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0 1rem 1rem 1rem; }
  section#customers div {
    background-color: var(--cultured__color);
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 992px) {
      section#customers div {
        flex-direction: row;
        flex-wrap: nowrap; } }
  section#customers div.customer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 33%;
    align-items: center;
    text-align: center;
    margin: 3rem 1rem; }
    section#customers div.customer div.badge__xl {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: var(--poppy__color); }
      section#customers div.customer div.badge__xl img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    section#customers div.customer h3 {
      font-size: 2rem;
      margin-top: .5rem;
      font-family: var(--raleway__font);
      color: var(--poppy__color); }
    section#customers div.customer p {
      color: var(--eerie__color);
      margin-bottom: .5rem; }
    section#customers div.customer q {
      color: var(--eerie__color);
      margin-bottom: .5rem; }

section#about {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media screen and (min-width: 992px) {
    section#about {
      flex-direction: row-reverse; } }
  section#about .splash {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--poppy__color);
    flex-basis: 50%; }
    section#about .splash h1 {
      margin: 4rem auto;
      font-weight: 900; }
      @media screen and (min-width: 992px) {
        section#about .splash h1 {
          margin: 10rem auto;
          font-size: 4rem; } }
      section#about .splash h1 span {
        font-family: var(--raleway__font);
        font-weight: 700; }
  section#about .excerpt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: var(--cultured__color);
    flex-basis: 50%; }
    section#about .excerpt h2 {
      font-family: var(--raleway__font);
      font-size: 2rem;
      text-transform: uppercase; }
    section#about .excerpt p {
      color: var(--eerie__color);
      line-height: 1.5;
      padding: 1rem 0 0 0; }

section#crew {
  padding-top: 1rem;
  background-color: var(--eerie__color); }
  section#crew h2 {
    font-family: var(--raleway__font);
    color: var(--poppy__color);
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0 1rem 1rem 1rem; }
  section#crew p {
    color: var(--cultured__color);
    margin: 0 1rem; }
  section#crew div {
    background-color: var(--eerie__color);
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 992px) {
      section#crew div {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap; } }
  section#crew div.member {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 30%;
    align-items: center;
    text-align: center;
    margin: 3rem 1rem; }
    section#crew div.member div.badge__xl {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: var(--eerie__color); }
      section#crew div.member div.badge__xl img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    section#crew div.member h3 {
      font-size: 2rem;
      margin-top: .5rem;
      font-family: var(--raleway__font);
      color: var(--poppy__color); }
    section#crew div.member p {
      color: var(--cultured__color);
      margin-bottom: .5rem; }
    section#crew div.member q {
      color: var(--cultured__color);
      margin-bottom: .5rem; }

div#contact {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding: 1rem;
  background-color: var(--eerie__color); }
  @media screen and (min-width: 992px) {
    div#contact {
      margin: 4rem;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr; } }
  div#contact form#contact__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-basis: 50%;
    border-bottom: 1px solid var(--cultured__color); }
    @media screen and (min-width: 992px) {
      div#contact form#contact__form {
        border-bottom: none;
        border-right: 1px solid var(--cultured__color); } }
    div#contact form#contact__form h1 {
      color: var(--poppy__color); }
    div#contact form#contact__form label {
      color: var(--cultured__color);
      font-family: "Quicksand", sans-serif;
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: .5rem; }
    div#contact form#contact__form p {
      color: var(--cultured__color);
      line-height: 1.5;
      margin: .5rem 0; }
      div#contact form#contact__form p a {
        text-decoration: none;
        color: var(--cultured__color);
        font-weight: 700; }
    div#contact form#contact__form input {
      border: none;
      padding: 0 .5rem;
      line-height: 2rem;
      font-family: "Quicksand", sans-serif;
      font-size: 1rem;
      color: var(--eerie__color);
      background-color: var(--cultured__color);
      border-radius: .25rem; }
      div#contact form#contact__form input:focus {
        outline: 1px solid var(--poppy__color); }
    div#contact form#contact__form textarea {
      border: none;
      padding: .5rem;
      font-family: "Quicksand", sans-serif;
      font-size: 1rem;
      color: var(--eerie__color);
      background-color: var(--cultured__color);
      height: 6rem;
      border-radius: .25rem; }
      div#contact form#contact__form textarea:focus {
        outline: 1px solid var(--poppy__color); }
    div#contact form#contact__form button {
      margin-top: 2rem;
      line-height: 3rem;
      border: none;
      font-family: "Quicksand", sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      background-color: var(--poppy__color);
      color: var(--eerie__color); }
  div#contact div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    height: 100%; }
    div#contact div h2 {
      color: var(--poppy__color);
      margin-bottom: 1rem;
      font-size: 2rem;
      text-transform: uppercase;
      font-family: var(--raleway__font); }
    div#contact div iframe {
      height: 100%;
      border: 1px solid var(--cultured__color);
      border-radius: .25rem; }

div#services {
  display: grid;
  background-color: var(--poppy__color); }
  div#services h1 {
    margin: 1rem; }
  div#services section.service {
    position: relative; }
    div#services section.service img {
      width: 100%;
      object-fit: contain; }
    div#services section.service div.service__information {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      z-index: 5; }
      @media screen and (min-width: 992px) {
        div#services section.service div.service__information {
          position: absolute;
          bottom: 0; } }
      div#services section.service div.service__information h2 {
        text-transform: uppercase;
        font-family: "Raleway", sans-serif; }
        @media screen and (min-width: 992px) {
          div#services section.service div.service__information h2 {
            background-color: var(--poppy__color);
            width: fit-content;
            padding: 1rem; } }
      div#services section.service div.service__information article {
        color: var(--eerie__color); }
        @media screen and (min-width: 992px) {
          div#services section.service div.service__information article {
            background-color: var(--cultured__color);
            color: var(--eerie__color);
            width: 60%;
            padding: 1rem; } }

footer {
  background-color: var(--eerie__color); }
  footer div.container {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 992px) {
      footer div.container {
        flex-direction: row;
        justify-content: space-between; } }
    footer div.container div#footer__nav {
      margin: 1rem; }
      footer div.container div#footer__nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none; }
        @media screen and (min-width: 992px) {
          footer div.container div#footer__nav ul {
            flex-direction: column; } }
        footer div.container div#footer__nav ul li {
          padding: 0 0.5rem; }
          footer div.container div#footer__nav ul li a {
            color: var(--cultured__color);
            text-decoration: none; }
          footer div.container div#footer__nav ul li:first-of-type {
            padding-left: 0; }
          footer div.container div#footer__nav ul li:last-of-type {
            padding-right: 0; }
          @media screen and (min-width: 992px) {
            footer div.container div#footer__nav ul li {
              padding: 0; } }
    footer div.container div#footer__info-box {
      margin: 1rem;
      color: var(--cultured__color);
      text-align: center; }
      footer div.container div#footer__info-box a {
        color: var(--cultured__color);
        text-decoration: none; }
      footer div.container div#footer__info-box b {
        color: var(--poppy__color); }
    footer div.container div#footer__fiscal {
      display: flex;
      justify-content: center;
      margin: 1rem; }
      footer div.container div#footer__fiscal img#data_fiscal {
        height: 4rem; }

div.slider__container {
  position: relative;
  width: 100vw;
  overflow: hidden; }
  @media screen and (min-width: 992px) {
    div.slider__container {
      width: 100%; } }
  div.slider__container div.slider {
    width: 300%;
    display: flex;
    flex-direction: row;
    height: 18rem;
    margin-left: -100%; }
    @media screen and (min-width: 992px) {
      div.slider__container div.slider {
        height: 26rem; } }
  div.slider__container div.slider__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; }
    div.slider__container div.slider__content img.slider__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      z-index: -2; }
    div.slider__container div.slider__content div.slider__text {
      padding-left: 3rem; }
      @media screen and (min-width: 992px) {
        div.slider__container div.slider__content div.slider__text {
          padding-left: 5rem;
          max-width: 50%; } }
      div.slider__container div.slider__content div.slider__text h1 {
        color: var(--cultured__color);
        font-family: var(--raleway__font);
        font-weight: 700;
        text-transform: uppercase; }
        @media screen and (min-width: 992px) {
          div.slider__container div.slider__content div.slider__text h1 {
            font-size: 3rem; } }
      div.slider__container div.slider__content div.slider__text button {
        background-color: var(--poppy__color);
        font-family: var(--raleway__font);
        text-transform: uppercase;
        font-weight: 700;
        padding: 1rem;
        border: none;
        margin-top: 2rem; }
        @media screen and (min-width: 992px) {
          div.slider__container div.slider__content div.slider__text button {
            font-size: 2rem; } }
        div.slider__container div.slider__content div.slider__text button a {
          color: var(--eerie__color);
          text-decoration: none;
          cursor: pointer; }
  div.slider__container div.slider__controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    div.slider__container div.slider__controls div i {
      padding: 0 1rem;
      font-size: 2rem;
      color: var(--cultured__color); }
      @media screen and (min-width: 992px) {
        div.slider__container div.slider__controls div i {
          padding: 2rem;
          font-size: 3rem; } }
      div.slider__container div.slider__controls div i:hover {
        color: var(--poppy__color); }

.poppy_fade {
  transition: 0.5s; }

.poppy_fade:hover {
  color: var(--poppy__color) !important;
  transition: 0.5s; }

.selected {
  font-weight: 600;
  color: var(--poppy__color) !important; }

.shadow__blur {
  filter: drop-shadow(5px 5px 10px #000); }
