// Components

// Slider
div.slider__container {
    height: 18rem;
    position: relative;
    @include desktop {
        height: 26rem;
    }
    div.slider__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        img.slider__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;
        }
        div.slider__text {
            padding-left: 3rem;
            @include desktop {
                padding-left: 5rem;
                max-width: 50%;
            }
            h1 {
                color: var(--cultured__color);
                font-family: var(--raleway__font);
                font-weight: 700;
                text-transform: uppercase;
                @include desktop {
                    font-size: 3rem;
                }
            }
            button {
                background-color: var(--poppy__color);
                font-family: var(--raleway__font);
                text-transform: uppercase;
                font-weight: 700;
                padding: 1rem;
                border: none;
                margin-top: 2rem;
                @include desktop {
                    font-size: 2rem;
                }
            }
        }
    }
    div.slider__controls {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 42%;
        @include desktop {
            top: 32%;
        }
        div {
            a {
                text-decoration: none;
                color: var(--poppy__color);
            }
            i {
                padding: 1rem;
                font-size: 2rem;
                @include desktop {
                    padding: 2rem;
                    font-size: 3rem;
                }
            }
        }
    }
}

// Remark
section#remarks {
    background-color: var(--eerie__color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include desktop {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    div.remark {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-basis: 33%;
        align-items: center;
        text-align: center;
        margin: 3rem 1rem;
        div.badge {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: var(--poppy__color);
            font-size: 2rem;
        }
        h2 {
            margin-top: .5rem;
            font-family: var(--raleway__font);
            color: var(--cultured__color);
        }
        p {
            color: var(--poppy__color);
            margin-bottom: .5rem;
        }
    }
}

// Crew
section#customers {
    padding-top: 1rem;
    background-color: var(--poppy__color);
    h2 {
        font-family: var(--raleway__font);
        color: var(--eerie__color);
        text-transform: uppercase;
        font-size: 2rem;
        margin: 0 1rem 1rem 1rem;
    }
    div {
        background-color: var(--cultured__color);
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
    div.customer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-basis: 33%;
        align-items: center;
        text-align: center;
        margin: 3rem 1rem;
        div.badge__xl {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            background-color: var(--poppy__color);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h3 {
            font-size: 2rem;
            margin-top: .5rem;
            font-family: var(--raleway__font);
            color: var(--poppy__color);
        }
        p {
            color: var(--eerie__color);
            margin-bottom: .5rem;
        }
        q {
            color: var(--eerie__color);
            margin-bottom: .5rem;
        }
    }
}