// Common

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--quicksand__font);
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}